$colorPrimario:#363062;

.mainAgenda {
    .container {
        .row {
            .col-12 {
                .focusH1Style {
                    font-size: 3em;
                    font-weight: 800;
                    margin-top: 1em;
                    margin-bottom: .5em;
                    max-width: 100%;
                    text-align: center;
                    opacity: 0.9;
                }
            }
        }
    }

    .tablaStyle {
        .row {
            .col-12 {
                table {
                    font-size: 1.5em;
                    width: 800px;
                    color: black;
                    font-weight: 600;
                    border: solid #363062 3px;
                    margin: auto;
                    text-align: center;
                    background-color: #ffffff;
                    opacity: 0.7;

                    thead {
                        caption {
                            text-align: center;
                        }

                        tr {
                            th {
                                text-align: center;
                                justify-content: center;
                            }
                        }
                    }

                    tbody {
                        border: solid $colorPrimario 2px;

                        tr {
                            td {
                                text-align: center;
                                justify-content: center;
                                border: solid $colorPrimario 2px;
                            }
                        }
                    }
                }
            }
        }
    }

    .titleMaterias {
        @extend .focusH1Style;
        font-weight: 800;
        color: $colorPrimario;
    }

    .container {
        .row {
            .centerDiv1 {
                text-align: center;

                .section2 {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;

                    select {
                        width: 250px;
                        text-align: center;
                        height: 60px;
                        font-size: 1.5em;
                        border: solid 2px black;
                        border-radius: 20px;
                        background-color: $colorPrimario;
                        color: white;
                        font-weight: 600;
                    }

                    .labelStyle {
                        font-size: 1.3rem;
                        font-weight: bold;
                    }

                    .buttonStyle2 {
                        margin-top: 2em;
                        font-size: 1em;
                        background-color: none;
                        color: rgb(0, 0, 0);
                        background-color: #E9D5CA;
                        border-radius: 20px;
                        padding: 1em;
                        font-weight: bold;
                        margin-bottom: 1em;
                        transition: 1s;

                        &:hover {
                            font-size: 1em;
                            background-color: rgb(209, 13, 105);
                            color: white;
                            cursor: pointer;
                            transform: scale(1.2);
                        }
                    }

                    img {
                        width: 700px
                    }
                }
            }
        }
    }
}