* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://fondosmil.com/fondo/26735.jpg);
    background-attachment: fixed;
}
// NAVBAR
.navbar {
    background-color: #363062 !important;

    .container-fluid {
        .navbar-brand {
            animation-name: girando;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }

        div .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 1.4rem;
                    border: solid 2px #827397;
                    margin: 3px;
                    transition: .5s;
                    color: white;

                    &:hover {
                        background-color: #827397;
                        color: white;
                        transform: scale(1.4);
                    }
                }
            }
        }
    }
}
// FOOTER
.footer {
    flex-direction: column;
    display: flex;
    background-color: #827397;
    align-items: center;
    text-align: center;


    .divFooterMod1 {
        margin-right: 3em;

        p {
            font-size: 1em;
            margin-bottom: 1em;
            color: white;
            font-weight: 700;

        }

        a {
            img {
                width: 40px;
            }
        }

        img {
            width: 100px;
            animation-name: girando;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }
    }
}

/* KEYFRAMES */
@keyframes girando {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}